{% extends 'base.html' %}
{% load static %}  
 {% block body %}
 <div class="contact-div" id="contact-us-abhyuday">
    <h2 class="text-center" class="contact-text"><b class="contact-text" data-aos="fade-up"
      
      data-aos-easing="ease-in-sine"
      
       >Contact Us</h2>
       <h2 class="text-center" class="contact-text"><b class="contact-text" data-aos="fade-up"
      
        data-aos-easing="ease-in-sine"
        style="font-size:3vw; margin-top:10vw !important;"
         >Campaigns</h2>
         <div class="d-flex flex-column justify-content-center p-1vw final-position"  style="gap: 20px; margin-top: 4vw;">
     <div class="pra-dev-div">
      <div class=" text-center name-div" data-aos="zoom-in-left" data-aos-duration="1000">
        <h3 class="person">Anmol Kurothe</h3>
        
        <h5 class="post">Campaigns Head</h5>
      
        <h5 class="post">anmolkurothe.abhyuday@gmail.com</h5>
      
        <h5 class="post">9573864781</h5>
      </div>
      <div class="text-center name-div" data-aos="zoom-in-right" data-aos-duration="1000">
        <h3 class="person">Aryan Chordia</h3>
      
        <h5 class="post">Campaigns Head</h5>
      
        <h5 class="post">aryanchordia.abhyuday@gmail.com</h5>
      
        <h5 class="post">9175981850</h5>
      </div>
     </div>
     <div class="text-center name-div" data-aos="zoom-in-up" data-aos-duration="1000">
      <h3 class="person">Kabir Khadtare</h3>
    
      <h5 class="post">Campaigns Head</h5>
    
      <h5 class="post">kabir.abhyuday.iitb@gmail.com</h5>
    
      <h5 class="post">9136906503</h5>
     </div>
   </div>
   <h2 class="text-center" class="contact-text"><b class="contact-text" data-aos="fade-up"
      
    data-aos-easing="ease-in-sine"
    style="font-size:3vw; margin-top:10vw !important;"
     >Competitions</h2>
<div class="d-flex flex-column justify-content-center p-1vw final-position"  style="gap: 20px; margin-top: 4vw;">
 <div class="pra-dev-div">
  <div class=" text-center name-div" data-aos="zoom-in-left" data-aos-duration="1000">
    <h3 class="person">Prajyot Chakre</h3>
    
    <h5 class="post">Competitions Head</h5>
  
    <h5 class="post">prajyot.abhyuday@gmail.com</h5>
  
    <h5 class="post">7448175579</h5>
  </div>
  <div class="text-center name-div" data-aos="zoom-in-right" data-aos-duration="1000">
    <h3 class="person">Devang Agarwal</h3>
  
    <h5 class="post">Competitions Head</h5>
  
    <h5 class="post">devang.abhyuday@gmail.com</h5>
  
    <h5 class="post">9898558427</h5>
  </div>
 </div>
 <div class="text-center name-div" data-aos="zoom-in-up" data-aos-duration="1000">
  <h3 class="person">Om Desai</h3>

  <h5 class="post">Competitions Head</h5>

  <h5 class="post">desaiom.abhyuday@gmail.com</h5>

  <h5 class="post">7208303692</h5>
 </div>
</div>
<h2 class="text-center" class="contact-text"><b class="contact-text" data-aos="fade-up"
      
    data-aos-easing="ease-in-sine"
    style="font-size:3vw; margin-top:10vw !important;"
     >Events & Fellowships</h2>
<div class="d-flex flex-column justify-content-center p-1vw final-position"  style="gap: 20px; margin-top: 4vw;  flex-wrap:wrap;">
 <div class="pra-dev-div">
  <div class=" text-center name-div" data-aos="zoom-in-left" data-aos-duration="1000">
    <h3 class="person">Akash Arikotla</h3>
    
    <h5 class="post">Events Head</h5>
  
    <h5 class="post">akash.abhyuday@gmail.com</h5>
  
    <h5 class="post">7569075861</h5>
  </div>
  <div class="text-center name-div" data-aos="zoom-in-right" data-aos-duration="1000">
    <h3 class="person">Maharshi Divekar</h3>
  
    <h5 class="post">Events Head</h5>
  
    <h5 class="post">maharshi.abhyuday@gmail.com</h5>
  
    <h5 class="post">9316169020</h5>
  </div>
  <div class="text-center name-div" style="flex-direction:row !important;"data-aos="zoom-in-up" data-aos-duration="1000">
    <h3 class="person">Simran Sinha</h3>
  
    <h5 class="post">Events Head</h5>
  
    <h5 class="post">simran.abhyuday@gmail.com</h5>
  
    <h5 class="post">9315184241</h5>
   </div>
   <div class="text-center name-div" data-aos="zoom-in-up" style="flex-direction:row !important;"data-aos-duration="1000">
      <h3 class="person">Tejas Kamat</h3>
    
      <h5 class="post">Events Head</h5>
    
      <h5 class="post">tejas.abhyuday@gmail.com</h5>
    
      <h5 class="post">9819859996</h5>
     </div>
 </div>
 
</div>
<h2 class="text-center" class="contact-text"><b class="contact-text" data-aos="fade-up"
      
    data-aos-easing="ease-in-sine"
    style="font-size:3vw; margin-top:10vw !important;"
     >Marketing</h2>
<div class="d-flex flex-column justify-content-center p-1vw final-position"  style="gap: 20px; margin-top: 4vw;">
 <div class="pra-dev-div">
  <div class=" text-center name-div" data-aos="zoom-in-left" data-aos-duration="1000">
    <h3 class="person">Aditya Edlabadkar</h3>
    
    <h5 class="post">Marketing Head</h5>
  
    <h5 class="post">aditya.abhyuday@gmail.com</h5>
  
    <h5 class="post">9970951961</h5>
  </div>
  <div class="text-center name-div" data-aos="zoom-in-right" data-aos-duration="1000">
    <h3 class="person">Aditya Laddha</h3>
  
    <h5 class="post">Marketing Head</h5>
  
    <h5 class="post">adityaladdha.abhyuday@gmail.com</h5>
  
    <h5 class="post">9166037111</h5>
  </div>
 </div>
 <div class="text-center name-div" data-aos="zoom-in-up" data-aos-duration="1000">
  <h3 class="person">Shlok Zanwar</h3>

  <h5 class="post">Marketing Head</h5>

  <h5 class="post">shlok.abhyuday@gmail.com</h5>

  <h5 class="post">9371025117</h5>
 </div>
</div>
<h2 class="text-center" class="contact-text"><b class="contact-text" data-aos="fade-up"
      
    data-aos-easing="ease-in-sine"
    style="font-size:3vw; margin-top:10vw !important;"
     >Media & Public Relations</h2>
<div class="d-flex flex-column justify-content-center p-1vw final-position"  style="gap: 20px; margin-top: 4vw;">
 <div class="pra-dev-div">
  <div class=" text-center name-div" data-aos="zoom-in-left" data-aos-duration="1000">
    <h3 class="person">Harshita Jaju</h3>
    
    <h5 class="post">Media & PR Head</h5>
  
    <h5 class="post">harshitajaju.abhyuday@gmail.com</h5>
  
    <h5 class="post">9823450114</h5>
  </div>
  <div class="text-center name-div" data-aos="zoom-in-right" data-aos-duration="1000">
    <h3 class="person">Radhasree Thula</h3>
  
    <h5 class="post">Media & PR Head</h5>
  
    <h5 class="post">radhasreethula.abhyuday@gmail.comcom</h5>
  
    <h5 class="post">9392210065</h5>
  </div>
 </div>
 <div class="text-center name-div" data-aos="zoom-in-up" data-aos-duration="1000">
  <h3 class="person">Sahil</h3>

  <h5 class="post">Media & PR Head</h5>

  <h5 class="post">sahil.abhyuday@gmail.comm</h5>

  <h5 class="post">8708260409</h5>
 </div>
</div>

<h2 class="text-center" class="contact-text"><b class="contact-text" data-aos="fade-up"
      
    data-aos-easing="ease-in-sine"
    style="font-size:3vw; margin-top:10vw !important;"
     >Operations</h2>
<div class="d-flex flex-column justify-content-center p-1vw final-position"  style="gap: 20px; margin-top: 4vw;">
 <div class="pra-dev-div">
  <div class=" text-center name-div" data-aos="zoom-in-left" data-aos-duration="1000">
    <h3 class="person">Prince Kumar</h3>
    
    <h5 class="post">Operations Head</h5>
  
    <h5 class="post">prince.abhyuday@gmail.com</h5>
  
    <h5 class="post">6203261916</h5>
  </div>
  <div class="text-center name-div" data-aos="zoom-in-right" data-aos-duration="1000">
    <h3 class="person">Suranjan Lahane</h3>
  
    <h5 class="post">Operations Head</h5>
  
    <h5 class="post">suranjan.abhyuday@gmail.com</h5>
  
    <h5 class="post">9422017526</h5>
  </div>
 </div>
 
</div>
<h2 class="text-center" class="contact-text"><b class="contact-text" data-aos="fade-up"
      
    data-aos-easing="ease-in-sine"
    style="font-size:3vw; margin-top:-5vw !important;"
     >Creatives</h2>
<div class="d-flex flex-column justify-content-center p-1vw final-position"  style="gap: 20px; margin-top: 4vw;">
 <div class="pra-dev-div">
  <div class=" text-center name-div" data-aos="zoom-in-left" data-aos-duration="1000">
    <h3 class="person">Kartik Khandelwal</h3>
    
    <h5 class="post">Creatives Head</h5>
  
    <h5 class="post">kartik.abhyuday@gmail.com</h5>
  
    <h5 class="post">7489744068</h5>
  </div>
  <div class="text-center name-div" data-aos="zoom-in-right" data-aos-duration="1000">
    <h3 class="person">Pranav Taware</h3>
  
    <h5 class="post">Creatives Head</h5>
  
    <h5 class="post">pranav.abhyuday2023@gmail.com</h5>
  
    <h5 class="post">9920463679</h5>
  </div>
 </div>
 
</div>
<h2 class="text-center" class="contact-text"><b class="contact-text" data-aos="fade-up"
      
    data-aos-easing="ease-in-sine"
    style="font-size:3vw; margin-top:-5vw !important;"
     >Web</h2>
<div class="d-flex flex-column justify-content-center p-1vw final-position"  style="gap: 20px; margin-top: 4vw;">
 <div class="pra-dev-div">
  <div class=" text-center name-div" data-aos="zoom-in-left" data-aos-duration="1000">
    <h3 class="person">Vallabh Behere</h3>
    
    <h5 class="post">Web Head</h5>
  
    <h5 class="post">vallabh.abhyuday@gmail.com</h5>
  
    <h5 class="post">9307723202</h5>
  </div>
 
 
</div>
<h2 class="text-center" class="contact-text"><b class="contact-text" data-aos="fade-up"
      
    data-aos-easing="ease-in-sine"
    style="font-size:3vw; margin-top:-5vw !important;"
     >Overall Coordinators</h2>
<div class="d-flex flex-column justify-content-center p-1vw final-position"  style="gap: 20px; margin-top: 4vw;">
 <div class="pra-dev-div">
  <div class=" text-center name-div" data-aos="zoom-in-left" data-aos-duration="1000">
    <h3 class="person">Sujas Jain</h3>
    
    <h5 class="post">Overall Coordinator</h5>
  
    <h5 class="post">sujas.abhyuday@gmail.com</h5>
  
    <h5 class="post">6375140010</h5>
  </div>
  <div class="text-center name-div" data-aos="zoom-in-right" data-aos-duration="1000">
    <h3 class="person">Yash Saraogi</h3>
  
    <h5 class="post">Overall Coordinator</h5>
  
    <h5 class="post">yashsaraogi.abhyuday@gmail.com</h5>
  
    <h5 class="post">8602861690</h5>
  </div>
 </div>
 
</div>
  </div>
 {% endblock body %}
