{% extends 'base.html' %}
{% load static %}
{%block body%}


<div class="events-major-div">
   
<h2 class="text-center Event-Name contact-text " style="margin-top: 4vw; padding-top: 8vw;">Campaigns</h2>
<div class="d-flex event-div" >
    <img src="./static/images/c1.png" alt="" class="card-img">
    <img src="./static/images/c2.jpg" alt="" class="card-img">
    <img src="./static/images/c3.jpg" alt="" class="card-img">
    <img src="./static/images/c4.jpg" alt="" class="card-img">
    <!-- <img src="./static/images/c1.jpg" alt="" class="card-img">
    <img src="./static/images/c1.jpg" alt="" class="card-img">
    <img src="./static/images/card.png" alt="" class="card-img">
    <img src="./static/images/card.png" alt="" class="card-img"> -->
</div>
<h2 class="text-center Event-Name contact-text">Speaker Sessions</h2>
<div class="d-flex event-div" >
    <img src="./static/images/s1.jpg" alt="" class="card-img">
    <img src="./static/images/s2.jpg" alt="" class="card-img">
    <!-- <img src="./static/images/card.png" alt="" class="card-img">
    <img src="./static/images/card.png" alt="" class="card-img">
    <img src="./static/images/card.png" alt="" class="card-img">
    <img src="./static/images/card.png" alt="" class="card-img">
    <img src="./static/images/card.png" alt="" class="card-img">
    <img src="./static/images/card.png" alt="" class="card-img"> -->
</div>
<h2 class="text-center Event-Name contact-text">Workshops</h2>
<div class="d-flex event-div" >
    <img src="./static/images/w1.jpg" alt="" class="card-img">
    
    <img src="./static/images/w3.jpg" alt="" class="card-img">
    <!-- <img src="./static/images/card.png" alt="" class="card-img">
    <img src="./static/images/card.png" alt="" class="card-img">
    <img src="./static/images/card.png" alt="" class="card-img">
    <img src="./static/images/card.png" alt="" class="card-img">
    <img src="./static/images/card.png" alt="" class="card-img"> -->
</div>
<!-- <h2 class="text-center Event-Name contact-text">Networking</h2>
<div class="d-flex event-div" >
    <img src="./static/images/card.png" alt="" class="card-img">
    <img src="./static/images/card.png" alt="" class="card-img">
    <img src="./static/images/card.png" alt="" class="card-img">
    <img src="./static/images/card.png" alt="" class="card-img">
    <img src="./static/images/card.png" alt="" class="card-img">
    <img src="./static/images/card.png" alt="" class="card-img">
    <img src="./static/images/card.png" alt="" class="card-img">
    <img src="./static/images/card.png" alt="" class="card-img">
</div> -->
<h2 class="text-center Event-Name contact-text">Satyameva Jayate</h2>
<div class="d-flex event-div" style="padding-bottom: 30vw;">
    <img src="./static/images/sj.jpg" alt="" class="card-img">
    <!-- <img src="./static/images/card.png" alt="" class="card-img">
    <img src="./static/images/card.png" alt="" class="card-img">
    <img src="./static/images/card.png" alt="" class="card-img">
    <img src="./static/images/card.png" alt="" class="card-img">
    <img src="./static/images/card.png" alt="" class="card-img">
    <img src="./static/images/card.png" alt="" class="card-img">
    <img src="./static/images/card.png" alt="" class="card-img"> -->
</div>
   
</div>
{%endblock body%}
