{% extends 'base.html' %}
{% load static %}
{%block body%}

<div class="events-major-div" 

 id="sponsor-pg">
{% comment %} <h2 class="text-center" class="contact-text"><b class="contact-text" data-aos="fade-up"
      
    data-aos-easing="ease-in-sine"
    
     >SPONSORS</h2> {% endcomment %}

<h2 class="text-center Event-Name contact-text " style=" padding-top: 15vw;">Title Sponsor</h2>
 <div class="d-flex event-div" >
    <a href="https://pwskills.com/"><img src="./static/images/pw.png" alt="" class="card-img-sp" style="width: 50vw !important;
"></a>
    
</div>
<h2 class="text-center Event-Name contact-text">Associate Title Sponsor</h2>
<div class="d-flex event-div" >
    <a href="http://www.skechers.in"><img src="./static/images/skechers.png" alt="" class="card-img-sp"  style="width: 35vw !important; height
:20vw;
    " ></a>
    
</div>
<h2 class="text-center Event-Name contact-text">Co-Title Sponsors</h2>
<div class="d-flex event-div" >
    <a href="https://ziblot.com/"><img src="./static/images/ziblot.png" alt="" class="card-img-sp"></a>
   <a href="https://www.mgmotor.co.in/vehicles/mghector"><img src="./static/images/mg.png" alt="" class="card-img-sp"></a> 
    <a href=""><img src="./static/images/epi.png" alt="" class="card-img-sp"></a>
    
</div>
<h2 class="text-center Event-Name contact-text">Brought To You By</h2>
<div class="d-flex event-div" >
   <a href="http://visionias.in"><img src="./static/images/visio.png" alt="" class="card-img-sp"></a> 
    
</div>
<h2 class="text-center Event-Name contact-text">Powered By </h2>
<div class="d-flex event-div" >
 <a href="http://www.mayavarta.com"><img src="./static/images/may.png" alt="" class="card-img-sp"></a>   

</div> 
   
</div>
{%endblock body%}
